$black: #232323;
$background: #ffffff;
$gray-line: #f6f6f6;
$orange: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
$dark-line: #bbbbbb;
$container-width: 100%;
$newcolor: rgb(255, 65, 108);
$duration: 0.15s;
